#banner_container {
  width: 100%;
  max-height: 550px;
  min-height: 550px;
  border: 0px solid #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

#banner_image_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#bannerimage {
  width: auto;
  height: 500px;
  object-fit: cover;
}

#banner_content_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#brandname {
  font-size: 7rem;
  font-family: var(--font-Comfortaa-Bold);
  font-weight: bold;
  color: #ffaa1d;
  margin-top: 1rem;
}

#tagline {
  font-size: 2rem;
  font-family: var(--font-Comfortaa-Bold);
  font-weight: bold;
  color: #fff600;
}

#bannerinfo {
  font-size: 1rem;
  font-family: var(--font-Comfortaa-Bold);
  font-weight: bold;
  color: #ffaa1d;
  margin-top: 1rem;
}

#order_now_btn {
  font-size: 1rem;
  font-family: var(--font-Comfortaa-Bold);
  color: #333333;
  background-color: #ffaa1d;
  border: none;
  border-radius: 5px;
  padding: 12px 16px;
  outline: none;
  margin-top: 2rem;
}

#category_heading {
  font-size: 3rem;
  font-family: var(--font-Comfortaa-Bold);
  font-weight: bold;
  color: #ffaa1d;
  margin: 2rem 0 0 0;
  border-bottom: 1px dashed #ffaa1d;
}

#snacks_container {
  width: 100%;
  min-height: 300px;
  max-height: auto;
  border: 0px solid #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.snack_card {
  height: 250px;
  width: 200px;
  border-radius: 8px;
  background-color: #ffaa1d;
  margin: 12px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 3spx 0px 5px 2px #030303;
}

.card_imagebox {
  width: 75%;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 8px 8px -4px #000;
  justify-self: center;
}

.card_imagebox,
.card_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card_image {
  height: 125px;
  width: 125px;
}

.card_content span:nth-child(1) {
  font-size: 1rem;
  font-family: var(--font-Comfortaa-Bold);
  font-weight: bold;
  color: #333333;
}

.card_content span:nth-child(2) {
  font-size: 12px;
  font-family: var(--font-Comfortaa-Bold);
  color: #333333;
  margin-top: 8px;
}

.card_content span:nth-child(3) {
  font-size: 1rem;
  font-family: var(--font-Comfortaa-Bold);
  font-weight: bolder;
  color: #333333;
  margin-top: 10px;
}
